a {
    color: greenyellow;
}
a:hover{
    background-color: yellow;
}
a:visited{
    color: darkgreen;
}

body {
    background-color: #aed5e0;
    background-image:url(https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-position: bottom right ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    margin:auto ;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color: gold;
    text-align: center;
}
h1 {
    color: darkblue;

}
p:first-of-type {
    font-weight: bold;
}
blockquote {
    margin: auto;
    width: inherit;
    text-align: center;
    font-size: 160%;
    font-style: italic;
    background-color:#C5C9C6 ;
    border-right: solid;
    border-right-color: firebrick;
    border-right-width: 3px;
    border-left: solid;
    border-left-color: firebrick;
    border-left-width: 3px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
}
.bold{
    font-weight: bolder;
}
ul {
    display: inline-block;
    width: fit-content;
    margin: 20px;
}
li {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
    background-size: contain;
}
ul li:nth-child(1) {
    background-image: url(/bien.png);
}

ul li:nth-child(2) {
    background-image: url(/mal.png);
}

ul li:nth-child(3) {
    background-image: url(/chat.png);
}
h2{
    text-align: center;
    margin:30px;
}
section.card1{
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    margin:50px;
}
section.card1 p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    margin-left:10px;
    color:darkblue;
}
section.card1 img{
    width:50%;
    height:auto;
}
section.card2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin: 50px;
}
section.card2 img{
    height: auto;
}
section.card2 p{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 30px;
    color: darkblue;
}
p {
    font-family:serif ;
    font-size: 15px;
    letter-spacing: 1px;
    color: #0F1135;
}
table {
    width: 40%; ;
    
}
td { 
    width: 100px;
}
tr {
    background-color: #979696;
}
tr:nth-child(odd) td:nth-child(even) {
    background-color: white;
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: white;
}
td>tr{
    border:3px solid black;
}
footer{
    color: darkslategray;
    letter-spacing: 1px;
    font-size: 10px;
}
.notification{
    background:#aed5e0;
    padding: .5rem 1rem;
    border:4px;
    width:250px;
    font-weight: lighter;
    color:darkblue;
    position: fixed;
    bottom: 1px;
    right: 1px;
}
